body {
    background-color: #60866E;
    color: white;
    font-family: Georgia, serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #ffbaeb; /* Gold for emphasis */
}
h2{
 color:#ffbaeb
}
img {
    border: 2px solid white;
    margin: 20px 0;
}
/* unvisited link */
a:link {
  color: #ffbaeb;
}

/* visited link */
a:visited {
  color: #ffbaeb;
}

/* mouse over link */
a:hover {
  color: #ff00b7;
}

/* selected link */
a:active {
  color:#ffbaeb;
}